.vscode/**
.vscode-test/**
.git/**
.gitignore
.venv/**
venv/**
node_modules/**
src/**
out/**
samples/**
tsconfig.json
compare.html
test_banner.png
test_architecture.png
resources/*.svg
dist/run_test_cli.js
dist/test_cli.js
dist/test_margins.js
